<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Yhatzee Companion</title>
    <link rel="stylesheet" href="styles.css" />
    <meta name="theme-color" content="#369" />
  </head>
  <body>
    <main class="app-container">
      <div class="header">
        <h1>Yhatzee Companion</h1>
      </div>
      <label>Dice</label>
      <input
        type="text"
        v-model="dice"
        @keydown="showResults = false"
        @keyup.enter="makeRecommendation"
        maxlength="5"
      />
      <label>
        <input
          type="checkbox"
          v-model="rollsLeft"
          @change="showResults = false"
        />
        <span>I have rolls left</span>
      </label>
      <p>Combinations already used:</p>
      <label v-for="pointCombo in pointCombos">
        <input
          type="checkbox"
          v-model="pointCombo.used"
          @change="showResults = false"
        />
        <span v-html="pointCombo.name"></span>
      </label>
      <button @click="makeRecommendation">Calculate Recommendation</button>
      <button @click="newRoll">New Roll &amp; Rec</button>
      <div v-show="!showResults">
        <p v-html="noResultsMsg">Loading...</p>
      </div>
      <div v-show="rerollsSimulated > 0" style="display: none">
        <p>
          <strong>Re-Rolls Simulated</strong>: {{rerollsSimulated}} / 7676
          ({{((rerollsSimulated/7676)*100).toFixed(2)}}%)
        </p>
      </div>
      <div v-show="showResults" style="display: none">
        <p><strong>Recommendation</strong>: {{recommendation}}</p>
        <div class="row">
          <div class="col">
            <p>
              <strong>Re-Roll Confidence</strong>:
              {{weightedRerollComboRating}}%
            </p>
          </div>
          <div class="col">
            <button @click="followRecommendation">Follow Recommendation</button>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Current Roll Combos</th>
              <th>Points</th>
              <th>Max</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="availablePointCombo in availablePointCombos">
              <td>{{availablePointCombo.name}}</td>
              <td>{{availablePointCombo.points}}</td>
              <td>{{availablePointCombo.max}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <script src="companion.js"></script>
    <script src="app.js"></script>
  </body>
</html>
